/* TODO Add site wide styles */
*{
    font-family: sans-serif;
}

h1, h2{
    text-align: center;
}

.navbar{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #1976d2;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-heading{
    padding: 5px 0 5px 5px;
    font-size: 40px;
    color: white;
}

.player{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.player-wrapper{
    margin-top: 50px;
}

.player-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-form--hidden{
    display: none;
}

.player-profile--hidden{
    display: none;
}

.profile-wrapper{
    margin-top: 20px;
    font-size: 25px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.new-game--hidden{
    display: none !important;
}

.quit-game--hidden{
    display: none !important;
}

.board{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    height: 400px;
    width: 400px;
    background-color: #1976d2;
    padding: 5px;
    margin: 20px
}

.board-piece{
    margin: 5px;
    background-color: white;
    border-radius: 50%;
}

.red-piece{
    margin: 5px;
    background-color: red;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.yellow-piece{
    margin: 5px;
    background-color: yellow;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}